/* Form Css Start  */
.form-main-section .form-container .form-section {
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    min-width: 387px;
    border-radius: 20px;
    background-color: var(--bright-gray);
    height: fit-content;
}

.form-main-section .form-container .form-title {
    font-size: 30px;
    font-weight: 600;
}

.form-main-section .form-container .form-error {
    color: var(--primary-red);
}


@media screen and (max-width:414px) {
    .form-main-section .form-container .form-section {
        min-width: -webkit-fill-available;
        margin: 10px;
    }
}

/* Form Css End  */